.container {
  width: 100%;
  max-width: 380px;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
  background-image: url("/public/img/border.png"),
    url("/public/img/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.company-img {
  width: 100px;
}

.title-img {
  width: 80%;
}

.subtitle-img {
  width: 70%;
}

.container-footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding-left: 10px;
  padding-right: 10px;
}
